.o-prxgress {
    &__bar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: inherit;
        width: calc(var(--progress) * 1%);
        background: #a100ff;
    }
    &__track {
        position: relative;
        flex: 1;
        height: 0.375rem;
        background: #ccc;
        border-radius: var(--border-rad);
    }
    &__wrap {
        --progress: 40;
        --border-rad: 0.5625rem;
        position: relative;
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        &::after {
            content: attr(aria-valuenow) "%";
            font-size: var(--pf-fs-12, 0.75rem);
        }
    }
}

.o-proxress__item {
    --border-rad: 0.5625rem;
    appearance: none;
    width: 100%;
    height: 0.375rem;
    border-radius: var(--border-rad);
    &::-webkit-progress-value {
        background: #a100ff;
        border-radius: var(--border-rad);
        &::before {
            content: attr(data-value) "%";
            position: absolute;
            top: -125%;
            color: #000;
            right: 0;
        }
    }
    &::-webkit-progress-bar {
        background-color: #ccc;
        border-radius: var(--border-rad);
    }
}
