.c-gxslider {
    &__contlink {
        margin-top: auto;
        color: inherit;
        text-decoration: none;

        &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.206' height='12' viewBox='0 0 20.206 12'%3E%3Cpath d='M20.031,5.6a.639.639,0,0,0-.471-.189H2.263L6.927,1.032a.582.582,0,0,0,.113-.4A.51.51,0,0,0,6.917.228a.638.638,0,0,0-.9-.081.427.427,0,0,0-.062.061L.309,5.5A.6.6,0,0,0,0,6.057a.658.658,0,0,0,.345.516l5.638,5.293A.752.752,0,0,0,6.412,12a.848.848,0,0,0,.494-.165.609.609,0,0,0,0-.842L2.287,6.661H19.57a.674.674,0,0,0,.635-.622.62.62,0,0,0-.175-.442' fill='%23fff' transform='translate(20.206 12) rotate(180)'/%3E%3C/svg%3E");
            margin-left: 8px;
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }

    &__contdesc {
        margin: 0;
        padding: 0;
    }

    &__contitle {
        font-size: 24px;
        line-height: 1.1;
    }

    &__content {
        position: absolute;
        // left: calc(100% + 24px);
        right: 60px;
        top: 50%;
        transform: translate(0, -50%);
        height: 295px;
        width: 400px;
        background-color: #7500c0;
        padding: 32px 24px;
        line-height: 1.4;
        flex: 1;
        color: #fff;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 1;
    }

    &__imgwrap {
        width: 100%;
        height: 100%;
        border: 1px solid #000;

        & img {
            object-fit: cover;
            object-position: center;
        }
    }

    &__itemInner {
        display: flex;
        gap: 12px;
        align-items: center;
        height: 100%;
    }

    &__item {
        position: absolute;
        width: 220px;
        height: 340px;
        top: 50%;
        left: 0;
        backface-visibility: hidden;
        display: flex;
        transform-origin: left center;
        transition: all 0.2s ease;
        gap: 12px;
        align-items: center;
        transform-style: preserve-3d;

        &:not(.-active) {
            & .c-gxslider__content {
                display: none;
            }
        }

        &.-invisible {
            visibility: hidden;
        }
    }

    &__list {
        display: flex;
        flex-direction: row-reverse;
        list-style-type: none;
        transform-style: preserve-3d;
        transition: all 0.5s;
        column-gap: 24px;
    }

    &__container {
        width: 220px;
        height: 340px;
        perspective: 1500px;
        perspective: none;
        position: relative;
        margin-left: auto;
        background-color: inherit;
        // position: absolute; width: 220px; height: 300px; background-color: red; right: 0;
    }

    &__prevbtn,
    &__nextbtn {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;

        &::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.206' height='12' viewBox='0 0 20.206 12'%3E%3Cpath d='M20.031,5.6a.639.639,0,0,0-.471-.189H2.263L6.927,1.032a.582.582,0,0,0,.113-.4A.51.51,0,0,0,6.917.228a.638.638,0,0,0-.9-.081.427.427,0,0,0-.062.061L.309,5.5A.6.6,0,0,0,0,6.057a.658.658,0,0,0,.345.516l5.638,5.293A.752.752,0,0,0,6.412,12a.848.848,0,0,0,.494-.165.609.609,0,0,0,0-.842L2.287,6.661H19.57a.674.674,0,0,0,.635-.622.62.62,0,0,0-.175-.442' transform='translate(20.206 12) rotate(180)'/%3E%3C/svg%3E");
        }
    }

    &__prevbtn {
        transform: rotate(180deg);
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        z-index: 1;
    }

    &__next {
        left: auto;
        right: 0;
    }

    &__wrap {
        position: relative;
        width: 100%;
        padding: 0 calc(24px + 30px + 420px) 0 calc(24px + 60px);
        background: #fff;
        overflow: hidden;
        display: flex;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: inherit;
            width: calc(20px + 30px + 420px);
        }
    }
}
