.c-adcarousel {
    &__dots {
        position: absolute;
        top: 100%;
        height: 1.875rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;

        & > button {
            border: 0;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background-color: #ddd;
            color: transparent;
            text-decoration: none;
            font-weight: 700;
            font-size: var(--pf-fs-16, 1rem);
            line-height: 1;
            cursor: pointer;
            transition: width 150ms cubic-bezier(0.215, 0.61, 0.355, 1),
                background-color 150ms cubic-bezier(0.215, 0.61, 0.355, 1),
                border-radius 150ms cubic-bezier(0.215, 0.61, 0.355, 1);

            &:hover {
                background-color: #999;
            }

            &.active {
                width: 1.875rem;
                background-color: #a100ff;
                border-radius: 50rem;
            }
        }
    }

    &__arrow {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29289 4.29289C7.90237 4.68342 7.90237 5.31658 8.29289 5.70711L14.5858 12L8.29289 18.2929C7.90237 18.6834 7.90237 19.3166 8.29289 19.7071C8.68342 20.0976 9.31658 20.0976 9.70711 19.7071L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L9.70711 4.29289C9.31658 3.90237 8.68342 3.90237 8.29289 4.29289Z' fill='rgba(161, 0, 255, 1)' /%3E%3C/svg%3E")
            no-repeat center #fff;
        background-size: 60%;
        border-radius: 50%;
        color: inherit;
        z-index: 1;
        text-decoration: none;
        font-weight: 700;
        font-size: var(--pf-fs-16, 1rem);
        line-height: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(161, 0, 255, 1);
        cursor: pointer;
        opacity: 1;
        transition: background-color 150ms cubic-bezier(0.215, 0.61, 0.355, 1),
            opacity 150ms cubic-bezier(0.215, 0.61, 0.355, 1),
            border-color 150ms cubic-bezier(0.215, 0.61, 0.355, 1);

        &.c-adcarousel__left {
            left: 0;
            transform: translate(-50%, -50%) scaleX(-1);
        }
        &.c-adcarousel__right {
            right: 0;
            transform: translate(50%, -50%);
        }
        &:hover {
            border-color: #a100ff;
        }
        &:disabled {
            pointer-events: none;
            cursor: auto;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29289 4.29289C7.90237 4.68342 7.90237 5.31658 8.29289 5.70711L14.5858 12L8.29289 18.2929C7.90237 18.6834 7.90237 19.3166 8.29289 19.7071C8.68342 20.0976 9.31658 20.0976 9.70711 19.7071L16.7071 12.7071C17.0976 12.3166 17.0976 11.6834 16.7071 11.2929L9.70711 4.29289C9.31658 3.90237 8.68342 3.90237 8.29289 4.29289Z' fill='rgba(204, 204, 204, 1)' /%3E%3C/svg%3E");
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            border: 1px solid rgba(204, 204, 204, 1);
            opacity: 1;
        }
    }

    &__item {
        flex: 1 0 25%;
        padding: 0 0.25rem;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
        }
    }
    &.has-dots {
        margin-bottom: 1.875rem;
        position: relative;
    }

    &__wrap {
        position: relative;
        display: block;
        width: 100%;
        max-width: 31.25rem;
    }
}

a.jjlsjdjfd {
    display: block;
    text-align: center;
    padding: 0.625rem 1rem;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 150ms
        cubic-bezier(0.215, 0.61, 0.355, 1);
    outline-offset: -0.0625rem;
    background-color: #f2f2f2;

    &:hover {
        background-color: #eee;
    }
}
