.c-header {
    &__dropdown {
        .c-dropdown-menu {
            --border-radius: 1.25rem;
            top: calc(100% + 0.625rem) !important;
            padding: 0;
        }
        .c-dropdown-body {
            min-width: 18rem;
            padding: 0;
        }
        & .c-dropdown-item {
            padding: 0.875rem var(--padding-right) 0.75rem var(--padding-left);
            align-items: center;
            &.-logout {
                padding-top: 1.25rem;
                padding-bottom: 1.125rem;
            }
        }
    }
    &__menu {
        --profile-pic-size: 2rem;
        position: relative;
        display: block;
        padding: 0;
        background-color: transparent;
        border: none;
        &-pfname {
            height: var(--profile-pic-size);
            width: var(--profile-pic-size);
            border-radius: 50%;
            background-color: #d5d5e7;
            display: grid;
            place-items: center;

            span {
                font-size: var(--pf-fs-16, 1rem);
                line-height: 1;
                text-transform: uppercase;
                color: #272251;
            }
        }
        &-img {
            height: var(--profile-pic-size);
            width: var(--profile-pic-size);
            border-radius: 50%;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
        &.-pnotif {
            &::after {
                content: "";
                position: absolute;
                height: 0.5rem;
                width: 0.5rem;
                border-radius: 50%;
                background: #a100ff;
                border: 1px solid #fff;
                top: 0;
                right: 0.125rem;
            }
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }
}
