/* Theme */
@mixin combomenu-theme-light {
    --color-combomenu-bg: #fff;
    --color-combomenu-option-bg-active: transparent;
    --color-combomenu-option-bg-image-active: linear-gradient(92deg, rgba(210, 153, 255, 0.1) 2.65%, rgba(109, 204, 244, 0.1) 155.93%);
}
@mixin combomenu-theme-dark {
    --color-combomenu-bg: #000;
    --color-combomenu-option-bg-active: rgba(255, 255, 255, 0.4);
    --color-combomenu-option-bg-image-active: transparent;
}

.c-combomenu__wrap {
    @include combomenu-theme-light();
}
html[data-theme="dark"] {
    .c-combomenu__wrap {
        @include combomenu-theme-dark();
    }
}

.c-combomenu {
    &__item {
        display: flex;
        padding: 1rem var(--padding-right) 1rem var(--padding-left);
        &:hover,
        &:focus-visible,
        &:focus-within {
            background-color: var(--color-combomenu-option-bg-active, #d6b3eb);
            background-image: var(--color-combomenu-option-bg-image-active);
        }
    }
    &__body {
        display: grid;
        width: 100%;
        max-height: 60vh;
        overflow-y: auto;
        border-radius: inherit;
        position: relative;
    }
    &__menu {
        --border-radius: 0.5rem;
        --padding-left: 1rem;
        --padding-right: 1rem;
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        width: clamp(10rem, 100%, 60vw);
        border-radius: var(--border-radius);
        font-size: var(--pf-fs-14, 0.875rem);
        background-color: var(--color-combomenu-bg, #fff);
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
        z-index: 997;
        display: none;


        .-right {
            left: auto;
            right: 0;
        }
    }
    &__control {
        border: none;
    }
    &__wrap {
        display: flex;
        position: relative;

        &.-open {
            .c-combomenu__menu {
                display: block;
            }
        }
    }
}
