.c-carousel {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 9;
    }
    // c-carousel
    &__inner {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: none;
    }
    &__scroll-wrap {
        width: 100%;
    }
    &__scroll-block {
        --arrowContainerWidth: 0;
        width: 100%;
        position: relative;
        padding: 0 var(--arrowContainerWidth);
        display: flex;
        align-items: center;
        box-shadow: none;
    }
    &__scroller {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__indicators-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        min-height: 1rem;
        margin-top: 2rem;
    }
    &__indicator {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem;
        min-width: auto;
        min-height: auto;
        padding: 0;
        border-radius: 50%;
        border: 1px solid transparent;
        background: linear-gradient(to right, light-dark(#fff, #000) 0%, light-dark(#fff, #000)) padding-box, linear-gradient(90deg, rgba(167, 45, 212, 0.7) 0%, rgba(104, 219, 186, 0.7) 100%) border-box;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out, border-radius 0.2s ease-in-out;

        &.-active {
            pointer-events: none;
            height: 1rem;
            width: 2.8125rem;
            border-radius: 2.5rem;
            background: linear-gradient(90deg, #a72dd4 0.01%, #77b3c0 99.99%), linear-gradient(98deg, #9342ce 0%, #6284b6 62.24%, #35c29f 120.93%);
        }
    }
    &__scroller-area {
        display: flex;
        transition: left 0.4s;
        left: 0;
        position: relative;
        padding: 0.5rem 0;
    }
    &__scroller-card {
        position: relative;
        min-height: 6rem;
        margin: 0 0.5rem;
        flex: 1 0 calc(50% - 1rem);
        background: #fff;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
    &__scroll-block-prev,
    &__scroll-block-next {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        border: none;
        background: no-repeat center;
        background-size: 0.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='4.819' height='8.631' viewBox='0 0 4.819 8.631'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='4.819' height='8.631' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(0 0)'%3E%3Cg clip-path='url(%23clip-path)'%3E%3Cpath d='M.147,8.482a.5.5,0,0,1,0-.707L3.608,4.314.147.855a.5.5,0,0,1,0-.707l0,0a.5.5,0,0,1,.707,0h0l3.768,3.77a.5.5,0,0,1,.2.4.494.494,0,0,1-.147.357.487.487,0,0,1-.049.043L.855,8.482A.491.491,0,0,1,.5,8.63a.491.491,0,0,1-.354-.148' fill='%23000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        &.c-carousel__scroll-block-prev {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='4.819' height='8.631' viewBox='0 0 4.819 8.631'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='4.819' height='8.631' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath d='M4.671,8.482a.5.5,0,0,0,0-.707L1.21,4.314,4.671.855a.5.5,0,0,0,0-.707l0,0a.5.5,0,0,0-.707,0h0L.2,3.916a.486.486,0,0,0-.049.043A.485.485,0,0,0,0,4.314a.494.494,0,0,0,.147.357A.486.486,0,0,0,.2,4.714L3.963,8.482a.5.5,0,0,0,.708,0' transform='translate(0.001 0)' fill='%23000'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        &:disabled {
            pointer-events: none;
            filter: grayscale(100%);
        }
    }
    &__scroll-block-prevContainer,
    &__scroll-block-nextContainer {
        position: absolute;
        right: 0;
        top: 50%;
        width: 1.4375rem;
        height: 1.4375rem;
        z-index: 5;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
    &__scroll-block-prevContainer {
        transform: translate(-25%, -50%);
        left: 0;
        right: auto;
    }
    &__scroll-block-nextContainer {
        transform: translate(25%, -50%);
    }
    &-marketplace {
        & .c-carousel {
            &__scroller {
                &-card {
                    margin: 0 0.25rem;
                    flex: 0 0 calc(100% - 0.5rem);
                    padding: 0;
                    box-shadow: unset;
                    border-radius: 0;
                    background: unset;
                    gap: 2rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
        &.-col-4 {
            & .c-carousel__scroller-card {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
