.c-cycleslider {
    &__pagination {
        & {
            color: #9b9b9b;
            font-size: var(--pf-fs-16, 1rem);
            font-style: italic;
            line-height: 1;
        }
        &wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: calc(100% - (var(--button-width, 1.625rem) * 2) - var(--button-gap, 0.75rem) - 1rem);
            margin-top: 1rem;
            height: 1.25rem;
        }
    }

    &__item {
        width: 100%;
        height: var(--card-height);
        border: 1px solid #000;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff; /*Do not make this transparent - transition will not be smooth*/
        display: flex;
        transition: all 0.4s ease;
        &.-active {
            z-index: 1;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        column-gap: 32px;
        align-items: flex-end;
        overflow: visible;
        list-style-type: none;
        transition: all 0.2s;
        transform: translateZ(900px);
        transform-style: preserve-3d;
    }

    &__container {
        --card-height: 15rem;
        width: 100%;
        height: var(--card-height);
        perspective: none;
        position: relative;
        background-color: inherit;
        overflow: hidden;
    }

    &__prevbtn,
    &__nextbtn {
        background: none;
        box-shadow: none;
        padding: 0;
        border: 1px solid #0d004c;
        width: 1.625rem;
        height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;

        svg {
            fill: #8373d3;
            stroke: #0d004c;
        }
    }

    &__prev,
    &__next {
        position: absolute;
        bottom: var(--padding-bottom, 1rem);
        right: calc(var(--button-width, 1.625rem) + var(--button-gap));
        z-index: 2;
    }

    &__next {
        left: auto;
        right: 0;
    }

    &__wrap {
        --padding-bottom: 1rem;
        --button-width: 1.625rem;
        --button-gap: 0.75rem;
        position: relative;
        width: 100%;
        padding: 1rem 0 var(--padding-bottom);
    }
}
