.c-modals {
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
    }
    &__innertitle {
        font-size: var(--pf-fs-20, 1.25rem);
        font-weight: 500;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__wrap {
        display: flex;
        flex-direction: column;

        hr {
            margin: 2rem 0;
            border-top: 0.0625rem solid #000;
        }
    }
    &__wrapper {
        padding: 1rem 0;
    }
}
