/* Tabs */
.c-tabs {
    &__btn[role="tab"] {
        user-select: none;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: none;
        background-color: transparent;
        margin: 0;
        border: 0;
        box-shadow: none;
        text-shadow: none;
        min-width: 1.75rem;
        padding: 0 0.25rem;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 0.625rem;
        }

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &:focus {
            outline-offset: 0.125rem;
        }

        &:disabled,
        [aria-disabled=true] {
            pointer-events: none;
            color: #bebebe;
        }

        & span,
        & img,
        & i {
            &.-defaultIcon {
                display: inline-block;
            }
            &.-activeIcon {
                display: none;
            }
        }

        &[aria-selected="true"] {
            color: #008;
            & span,
            & img,
            & i {
                &.-defaultIcon {
                    display: none;
                }
                &.-activeIcon {
                    display: inline-block;
                }
            }
        }
    }
    &__wrap[role="tablist"] {
        display: flex;
        flex-wrap: wrap;
        &.-vertical {
            flex-direction: column;
            & .c-tabs__btn[role="tab"] {
                margin: 0;
            }
        }
    }
}

[role="tabpanel"] {
    position: relative;
    display: none;
    &.-show {
        display: block;
    }
}
