// Scrollbar
// custom scrollbars - not for smartphones, touchscreens
// 1
.-whitescroll {
    --scrollbar-color: #fff;
    --scrollbar-width: 0.25rem;
    scrollbar-color: var(--scrollbar-color);
    &::-webkit-scrollbar {
        height: var(--scrollbar-width);
        width: var(--scrollbar-width);
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
// 2
.-customscroll {
    --scrollbar-color: #eee6ff;
    --scrollbar-width: 0.375rem;
    scrollbar-color: var(--scrollbar-color);
    &::-webkit-scrollbar {
        height: var(--scrollbar-width);
        width: var(--scrollbar-width);
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
// 3
.-edtrgscroll {
    &::-webkit-scrollbar {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 0.3125rem;
        background-color: #fff;
    }
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 0.3125rem;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(270deg, #0d7eff 0%, #272380 100%);
        border-radius: 0.3125rem;
        border: 0.0938rem solid #fff;
        background-clip: padding-box;
    }

    /* Buttons */
    &::-webkit-scrollbar-button:single-button {
        width: 0.625rem;
        height: 0.625rem;
        background-color: transparent;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    // Vertical
    &::-webkit-scrollbar-button:single-button:vertical {
        height: 0.5rem;
    }
    // Horizontal
    &::-webkit-scrollbar-button:single-button:horizontal {
        width: 0.5rem;
    }
    /* Up */
    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-radius: 0.3125rem 0.3125rem 0 0;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
    }
    /* Down */
    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-radius: 0 0 0.3125rem 0.3125rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    /* Left */
    &::-webkit-scrollbar-button:single-button:horizontal:decrement {
        border-radius: 0.3125rem 0 0 0.3125rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
    }
    /* Right */
    &::-webkit-scrollbar-button:single-button:horizontal:increment {
        border-radius: 0 0.3125rem 0.3125rem 0;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
    }
}
// 4
.-arcdhscroll {
    &::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 0;
        background-color: #fff;
    }
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(270deg, #0d7eff 0%, #272380 100%);
        border-radius: 0;
        border: 0 solid #fff;
        background-clip: padding-box;
    }

    /* Buttons */
    &::-webkit-scrollbar-button:single-button {
        display: none;
    }
}
