:root {
    /* Font Szies */
    --pf-fs-8: 0.5rem;
    --pf-fs-10: 0.625rem;
    --pf-fs-12: 0.75rem;
    --pf-fs-14: 0.875rem;
    --pf-fs-16: 1rem;
    --pf-fs-18: 1.125rem;
    --pf-fs-20: 1.25rem;
    --pf-fs-22: 1.375rem;
    --pf-fs-24: 1.5rem;
    --pf-fs-26: 1.625rem;
    --pf-fs-28: 1.75rem;
    --pf-fs-30: 1.875rem;
    --pf-fs-32: 2rem;
    --pf-fs-40: 2.5rem;
    --pf-fs-48: 3rem;
}
