@keyframes wb-loader {
    0% {
        scale: 0.3;
        opacity: 0.3;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.c-wb-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1002;
    gap: 1.25rem;
    &::before {
        content: '';
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        height: 100vh;
        width: 100vw;
        // background-color: rgba(255, 255, 255, 0.1);
        // backdrop-filter: blur(22px);
        display: inline-block;
    }
    &__imgwrap {
        width: 3.375rem;
        height: 3rem;
        overflow: hidden;
        z-index: 1;
        svg {
            height: 100%;
            width: 100%;
            animation: wb-loader 1.3s infinite;
        }
        img {
            height: auto;
            width: 100%;
            opacity: 0.3;
        }
    }
    &__text {
        font-size: var(--pf-fs-16, 1rem);
        max-width: 14.375rem;
        z-index: 1;
    }
}
