@keyframes ellipsis {
    to {
        width: 5rem;
    }
}

.o-textloader__v1 {
    font-size: 5rem;
    &::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4, end) 1.5s infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.o-textloader__v2 {
    font-size: 6.25rem;
    .one {
        opacity: 0;
        animation: dot 1.3s infinite;
        animation-delay: 0s;
    }

    .two {
        opacity: 0;
        animation: dot 1.3s infinite;
        animation-delay: 0.2s;
    }

    .three {
        opacity: 0;
        animation: dot 1.3s infinite;
        animation-delay: 0.3s;
    }
}

@keyframes load {
    0% {
        mask-position: 0% 0%, 50% 0%, 100% 0%;
    }
    16.67% {
        mask-position: 0% 100%, 50% 0%, 100% 0%;
    }
    33.33% {
        mask-position: 0% 100%, 50% 100%, 100% 0%;
    }
    50% {
        mask-position: 0% 100%, 50% 100%, 100% 100%;
    }
    66.67% {
        mask-position: 0% 0%, 50% 100%, 100% 100%;
    }
    83.33% {
        mask-position: 0% 0%, 50% 0%, 100% 100%;
    }
    100% {
        mask-position: 0% 0%, 50% 0%, 100% 0%;
    }
}
.o-textloader__v3 {
    --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
    width: 11.25rem; /* control the size */
    /* stylelint-disable */
    aspect-ratio: 8/5;
    /* stylelint-enable */
    mask: var(--_g), var(--_g), var(--_g);
    mask-size: 25% 40%;
    background: var(--color-default, #000);
    animation: load 2s infinite;
}

@keyframes back {
    0%,
    100% {
        background-position: 0% 0%, 0% 100%;
    }
    25% {
        background-position: 100% 0%, 0% 100%;
    }
    50% {
        background-position: 100% 0%, 100% 100%;
    }
    75% {
        background-position: 0% 0%, 100% 100%;
    }
}

.o-textloader__v4 {
    --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
    /* the colors */
    --c1: red;
    --c2: blue;
    --c3: green;
    --c4: purple;

    width: 11.25rem; /* control the size */
    /* stylelint-disable */
    aspect-ratio: 8/5;
    /* stylelint-enable */
    mask: var(--_g), var(--_g), var(--_g);
    mask-size: 25% 40%;
    background: conic-gradient(var(--c1) 50%, var(--c2) 0) no-repeat,
        conic-gradient(var(--c3) 50%, var(--c4) 0) no-repeat;
    background-size: 200% 50%;
    animation: back 4s infinite steps(1), load 2s infinite;
}
