.c-headerSearch {
    --color-banner-title: linear-gradient(88deg, #a72fd4 51.97%, #6ad6bb 79.83%);
    --height: 1.5rem;
    min-height: var(--height);
    margin-right: 1rem;
    margin-top: 0.25rem;
    width: 1.5rem;
    .c-dropdown {
        height: var(--height);
        // width: 170px;
        width: 0;
        overflow: hidden;
        &-toggle {
            padding: 0.25rem 1.25rem;
            border-color: #c6c6c6;
        }
        &-menu {
            width: 0;
            overflow: hidden;
            background: light-dark(#fff, #000);
            border-color: #c6c6c6;
            border-radius: 0 0 1.25rem 1.25rem;
        }
    }
    .c-combomenu {
        &__wrap {
            height: var(--height);
            width: 0;
            overflow: hidden;
        }
        &__control {
            font-size: var(--pf-fs-14, 0.875rem);
            width: 0;
            padding: 0;
            overflow: hidden;
            border: none;
            &Wrap {
                gap: 0;
                padding: 0;
                overflow: hidden;
                background: transparent;
            }
        }
        &__body {
            margin-top: 2rem;
            .c-genw-banner__searchRecent-list {
                padding-top: 0.5rem;
            }
        }
        &__menu {
            background: light-dark(#fff, #000);
            border-color: #c6c6c6;
            padding-right: 0.25rem;
            border-radius: 0 0 1.25rem 1.25rem;
        }
    }
    .c-genw-banner__searchIcon {
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1.5rem;
        background: transparent;
        svg * {
            fill: #000;
            stroke: #000;
        }
    }
    &__close {
        background: transparent;
        border: none;
        width: 0;
    }
    &[aria-expanded="true"] {
        --height: 2.5rem;
        margin-top: 0;
        width: auto;
        .c-dropdown {
            width: 170px;
            &-menu {
                --padding-left: 1.25rem;
                --padding-right: 1.25rem;
                width: 170px;
                padding-right: 0.25rem;
            }
            &-toggle.-caret {
                border-color: #c6c6c6;
            }
        }
        .c-combomenu__wrap {
            width: auto;
            overflow: visible;
            input {
                width: 100%;
                padding-left: 1.25rem;
                border-left: 1px solid rgba(0, 0, 0, 0.4);
            }
        }
        .c-headerSearch__close {
            width: 1rem;
            min-width: 1rem;
        }
        .c-combomenu__controlWrap {
            gap: 1rem;
            overflow: visible;
            padding: 0.5rem 1rem 0.5rem 0;
            background: light-dark(#fff, #000);
            border-color: #c6c6c6;
            // background: linear-gradient(to right, light-dark(#fff, #000) 0%, light-dark(#fff, #000)) padding-box, var(--color-banner-title) border-box;
        }
    }
}
