/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
  theme: light,
  accent: hsl(0, 0%, 46%),
  menu-width: 18rem,
);

$margin-f-item-group: 3rem;

$font-size: 1.2rem;
$icon-size: 1.5rem;

$menu-background: #f7f7f7;

@import "../../toolkit/styles/settings/settings";

@import "partials/variables";
@import "partials/code";
@import "partials/color-chips";
@import "partials/controls";
@import "partials/item";
@import "partials/layout";
@import "partials/menu";
@import "prism";

// Project Overrides styles for documentation
.f-menu {
  .f-menu__heading {
    color: $black;
  }
}

pre {
  position: relative;
  .f-code-block-copy {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    path {
      fill: gray;
    }
    &:hover path {
      fill: black;
    }
  }
  .f-code-copy-text {
    display: inline-block;
    position: absolute;
    right: 35px;
    background-color: #656565;
    color: #fff;
    padding: 5px 11px;
    top: 12px;
    border-radius: 5px;
    font-size: 10px;
    transition: 1s;
    opacity: 0;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -6px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent transparent #656565;
    }
    &.-show {
      opacity: 1;
    }
  }
}

// List of Pages in the view
.page-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: $font-family-base;
  font-weight: 300;

  li {
    padding-bottom: 1rem;
  }

  a {
    display: block;

    &:hover {
      color: $brand-violet;
    }
  }
}

.c-icons-doc {
  [class*="icon-"] {
    padding: 0;
    margin: 0;
    font-size: 32px;
    display: inline-block;

    ::before {
    }
  }
}

.f-item-code-blocks {
  &__tabs {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #ccc;
    border-bottom: 1px solid #a100ff;
  }
  &__tab {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    text-align: center;
    background-color: #cccccc;
    border-right: 1px solid #a100ff;
    &.-active {
      color: $brand-violet;
      background-color: #f7f7f7;
    }
    &:hover {
      color: $brand-violet;
    }
  }
  &__content {
    display: none;
    &.-active {
      display: block;
    }
    pre {
      padding: 1.2em;
      margin: 0;
      border: 1px solid #fff;
    }
  }
}

.f-item-multi-heading {
  display: flex;
  margin-bottom: 100px;
  margin-top: 30px;
  &__item {
    font-size: 15px;
    margin-right: 30px;
    position: relative;
    font-weight: bold;
    &::after {
      content: ">";
      position: absolute;
      right: -18px;
      font-size: 12px;
      top: 2px;
    }
    &:last-child {
      font-size: 13px;
      color: gray;
      position: relative;
      top: 3px;
      &::after {
        content: none;
      }
    }
  }
}

.f-item-nodes-block {
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  .-one {
    flex: 1;
  }
  .-two {
    flex: 2;
  }
  &__head {
    font-size: 30px;
    color: #a100ff;
  }
  &__content {
    margin-top: 15px;
  }
  &__content-head {
    display: flex;
    display: flex;
    border: 1px solid silver;
  }
  &__content-head-item {
    padding: 10px;
    color: #a100ff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 1px solid silver;
    &:first-child {
      border: 0;
    }
  }
  &__content-data {
    display: flex;
    display: flex;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
  }
  &__content-data-item {
    padding: 10px;
    font-size: 14px;
    border-left: 1px solid silver;
  }
}

.f-item-download-link {
  border: 1px solid silver;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  &:hover,
  &:focus {
    color: #a100ff;
    border: 1px solid #a100ff;
  }
  i {
    display: flex;
    margin-left: 15px;
  }
}
