/*==============================================================================
Index
----------------------------------------
01 - generic global bootstrap colors
02 - brand colors
03 - global scaffolding

04 -
==============================================================================*/

/*--------------------
01 - generic global bootstrap colors
--------------------*/
//## Gray and base colors for use across Bootstrap.
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

/*--------------------
02 - brand colors
--------------------*/
@import "_brand-colors";

/*--------------------
03 - global scaffolding
--------------------*/
$white: #fff;
$black: #000;
$body-bg: $white;
$text-color: $black;
$link-color: $black;
$link-hover-color: $brand-violet;
$link-hover-decoration: underline;
$expo-border-radius: 2px;
$border-light-brown: #c5b9ac;
$bg-gray: #f3f3f3;
$font-gray: #273239;
$o-btn-transparent-border: #dadada;
