/*==============================================================================
Index
----------------------------------------
01 - font-face imports
==============================================================================*/

/*--------------------
01 - font-face imports
--------------------*/
// 1 - Graphik -start
@font-face {
    font-family: "Graphik";
    src: local("Graphik Light"), url("../fonts/Graphik-Light-Web.eot");
    src: local("Graphik Light"), url("../fonts/Graphik-Light-Web.ttf");
    src: local("Graphik Light"),
        url("../fonts/Graphik-Light-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Light"),
        url("../fonts/Graphik-Light-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Light"),
        url("../fonts/Graphik-Light-Web.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik Regular"), url("../fonts/Graphik-Regular-Web.eot");
    src: local("Graphik Regular"), url("../fonts/Graphik-Regular-Web.ttf");
    src: local("Graphik Regular"),
        url("../fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Regular"),
        url("../fonts/Graphik-Regular-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Regular"),
        url("../fonts/Graphik-Regular-Web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik Medium"), url("../fonts/Graphik-Medium-Web.eot");
    src: local("Graphik Medium"), url("../fonts/Graphik-Medium-Web.ttf");
    src: local("Graphik Medium"),
        url("../fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Medium"),
        url("../fonts/Graphik-Medium-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Medium"),
        url("../fonts/Graphik-Medium-Web.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Graphik-Semibold-Web";
    src: local("Graphik Semibold"), url("../fonts/Graphik-Semibold-Web.eot");
    src: local("Graphik Semibold"), url("../fonts/Graphik-Semibold-Web.ttf");
    src: local("Graphik Semibold"),
        url("../fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Semibold"),
        url("../fonts/Graphik-Semibold-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Semibold"),
        url("../fonts/Graphik-Semibold-Web.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik Bold"), url("../fonts/Graphik-Bold-Web.eot");
    src: local("Graphik Bold"), url("../fonts/Graphik-Bold-Web.ttf");
    src: local("Graphik Bold"),
        url("../fonts/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Bold"),
        url("../fonts/Graphik-Bold-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Bold"),
        url("../fonts/Graphik-Bold-Web.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik Regular Italic"),
        url("../fonts/Graphik-RegularItalic-Web.eot");
    // src: local("Graphik Regular Italic"),
    //     url("../fonts/Graphik-RegularItalic-Web.ttf");
    src: local("Graphik Regular Italic"),
        url("../fonts/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Regular Italic"),
        url("../fonts/Graphik-RegularItalic-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Regular Italic"),
        url("../fonts/Graphik-RegularItalic-Web.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Graphik-BoldItalic-Web";
    src: local("Graphik Bold Italic"),
        url("../fonts/Graphik-BoldItalic-Web.eot");
    // src: local("Graphik Bold Italic"), url("../fonts/Graphik-BoldItalic-Web.ttf");
    src: local("Graphik Bold Italic"),
        url("../fonts/Graphik-BoldItalic-Web.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ local("Graphik Bold Italic"),
        url("../fonts/Graphik-BoldItalic-Web.woff2") format("woff2"),
        /* Super Modern Browsers */ local("Graphik Bold Italic"),
        url("../fonts/Graphik-BoldItalic-Web.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

// 1 - Graphik - END
