/*==============================================================================
Index
----------------------------------------
01 - base typography
04 -
==============================================================================*/
/*--------------------
01 - base typography
--------------------*/
$font-family-base: sans-serif #{"/*rtl:Cairo*/"} !default;
$font-family-base: Graphik !default;
$font-size-base: 0.875rem !default;
$font-weight-base: 400;
$line-height-base: 1.5 !default;
