.c-privacy {
    &Wrap {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-top: 1px solid #dcd6eb;
        padding: 4.5rem 0;
    }
    &__inner {
        display: flex;
        gap: 1rem;
    }
    &__left {
        flex: 0 0 13.5rem;
        width: 13.5rem;
        display: flex;
    }
    &__right {
        flex: 0 0 calc(100% - 13.5rem - 1rem);
        width: calc(100% - 13.5rem - 1rem);
        display: flex;
        &Inner {
            display: flex;
            flex-direction: column;
            &.-terms {
                .c-privacy__itemImg {
                    max-width: 2.5rem;
                }
            }
        }
    }
    &__item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        &:not(:first-of-type) {
            padding-top: 3.75rem;
        }
        &Left {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            width: 31%;
        }
        &Img {
            max-width: 3.75rem;
            img {
                max-width: 100%;
            }
        }
        &Title {
            font-size: var(--pf-fs-20, 1.25rem);
            font-weight: 500;
            max-width: 12.875rem;
            line-height: 1.2;
            color: #333;
        }
        &Right {
            display: flex;
            flex-direction: column;
            padding-bottom: 3.75rem;
            border-bottom: 1px  dashed #aaa;
            flex: 1;
            gap: 0.75rem;
        }
        &Desc {
            font-size: var(--pf-fs-16, 1rem);
            color: rgba(0, 0, 0, 0.5);
            .-link {
                background: linear-gradient(90deg, #9342ce 37.65%, #35c29f 78.24%);
                background-clip: text;
                -webkit-background-clip: text;
                position: relative;
                -webkit-text-fill-color: transparent;
                &::after {
                    position: absolute;
                    content: '';
                    background: linear-gradient(90deg, #9342ce 37.65%, #35c29f 78.24%);
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1.5px;
                }
            }
            &.-dark {
                color: rgba(0, 0, 0, 0.75);
            }
        }
    }
    &__text {
        color: rgba(0, 0, 0, 0.5);
        font-size: var(--pf-fs-16, 1rem);
        margin-bottom: 1rem;
        span {
            color: rgba(0, 0, 0, 0.75);
        }
    }
}

