/* Alerts */

%alert {
    position: relative;
    font-size: var(--pf-fs-12, 0.75rem);
    font-weight: 500;
    color: inherit;
    padding: 0.4375rem 0.9375rem;
    min-height: calc(1.5em + calc(0.4375rem * 2) + 0.125rem);
    border: 1px solid transparent;
    border-radius: 0;
    margin-bottom: 0.625rem;
}

$svg-images: (
    check: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.8 8.37'%3E%3Cpath fill='%23004dff' d='M10.54,1.6,4.028,8.094a.924.924,0,0,1-.644.276.892.892,0,0,1-.644-.276L.276,5.647a.911.911,0,0,1,0-1.306.911.911,0,0,1,1.306,0L3.366,6.125,9.216.276a.911.911,0,0,1,1.306,0A.95.95,0,0,1,10.54,1.6Z'/%3E%3C/svg%3E",
    caret: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7'%3E%3Cpath fill='%23080808' d='M5.241.886a1,1,0,0,1,1.519,0l3.826,4.463A1,1,0,0,1,9.826,7H2.174a1,1,0,0,1-.759-1.651Z' transform='translate(12 7) rotate(180)' /%3E%3C/svg%3E",
    close: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.945 9.943'%3E%3Cg transform='translate(-0.026 -0.029)'%3E%3Cpath fill='%23080808' d='M6.151,4.971,9.7,1.419A.832.832,0,1,0,8.526.242L4.974,3.794,1.422.242A.832.832,0,1,0,.245,1.419L3.8,4.971.245,8.523A.832.832,0,0,0,1.422,9.7L4.974,6.148,8.526,9.7A.832.832,0,0,0,9.7,8.523Z' transform='translate(0.026 0.029)'/%3E%3C/g%3E%3C/svg%3E",
) !default;

@function getSvg($type: check, $color: $body-color) {
    @return map-get($svg-images, $type);
}

%buttonbasic {
    user-select: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

%close {
    @extend %buttonbasic;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    text-indent: -999em;
    text-shadow: none;
    background: url("#{getSvg(close, white)}") no-repeat center transparent;
    background-size: 0.625rem;
    opacity: 0.7;
    box-shadow: none;
    transition: opacity 0.2s ease-in-out;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.o-alert {
    @extend %alert;
    border-color: #be0101;
    border-width: 0.0625rem 0.0625rem 0.0625rem 0.625rem;
    & .o-alert__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & .o-alert__action {
            color: inherit;
            padding: 0;
            margin-left: 0.5rem;
            white-space: nowrap;
            font-weight: 600;
        }
    }

    &.-dismissible {
        padding-right: 1.875rem;

        & .o-alert__close {
            @extend %close;
            width: 1.875rem;
            height: calc(1.5em + calc(0.4375rem * 2));
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &.-alert-success {
        border-color: #be0101;
    }

    &.-alert-info {
        border-color: #0097e6;
    }

    &.-alert-warning {
        border-color: #ffae02;
    }

    &.-alert-snack {
        color: #fff;
        background-color: #5a5a5a;
        border-color: #5a5a5a;
        border-left: 0.0625rem;

        & .o-alert__content {
            border-right-color: #ddd;
        }

        &.-dismissible .o-alert__close {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(166deg)
                brightness(106%) contrast(107%);
        }
    }

    &.-actionable.-dismissible .o-alert__content {
        border-right: 0.0625rem solid #ccc;

        & .o-alert__action {
            margin-right: 0.5rem;
        }
    }
}

/* toaster - ngx-toastr */
.toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;

    &.toast-top-right {
        right: 0.625rem;
        top: 0.625rem;
    }

    & .ngx-toastr {
        @extend %alert;
        padding-right: 1.875rem;
        width: 26.25rem;
        max-width: 80vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        pointer-events: auto;
        color: #fff;
        border-color: getcolor(snack);
        background: getcolor(snack);

        &.toast-success {
            border-color: getcolor(success);
            background: getcolor(success);
        }

        &.toast-info {
            border-color: getcolor(info);
            background: getcolor(info);
        }

        &.toast-warning {
            border-color: getcolor(warning);
            background: getcolor(warning);
        }

        &.toast-error {
            border-color: getcolor(error);
            background: getcolor(error);
        }

        & .toast-close-button {
            @extend %close;
            width: 1.875rem;
            height: calc(1.5em + calc(0.7rem * 2));
            position: absolute;
            top: 0;
            right: 0;
            outline: 0;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(166deg)
                brightness(106%) contrast(107%);
        }

        & .toast-title:not(:last-child) {
            font-size: var(--pf-fs-14, 0.875rem);
            margin-bottom: 0.625rem;
        }
    }
}
