.o-checkbox {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    input {
        --osquare-size: 0.875rem;
        --isquare-size: calc(var(--osquare-size) / 2);
        --active-bg-color: linear-gradient(93deg, #8952cf 0%, #4357be 100%), linear-gradient(93deg, #be78d2 1.17%, #6e1fce 99.44%);
        --active-tick-color: #fff; // -- change this to tick color
        height: var(--osquare-size);
        width: var(--osquare-size);
        flex: 0 0 var(--osquare-size);
        position: relative;
        appearance: none;
        cursor: inherit;
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.25rem;
            border: 2px solid var(--color-grey-000, #808080);
            background: #fff;
        }
        &::after {
            content: none;
            position: absolute;
            display: inline-block;
            height: var(--isquare-size);
            width: var(--isquare-size);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0;
            background: var(--active-tick-color) no-repeat center;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a100ff' viewBox='0 0 17.231 13.084'%3E%3Cg transform='translate(-11.104 -18.854)'%3E%3Cg transform='translate(11.104 18.854)'%3E%3Cpath d='M13.337,25.916a1.268,1.268,0,1,0-1.928,1.649l3.365,3.926.964-.825-.966.828a1.272,1.272,0,0,0,1.793.138,1.317,1.317,0,0,0,.1-.1L27.931,21.052A1.269,1.269,0,1,0,26.2,19.194L15.84,28.837l-2.5-2.921Z' transform='translate(-11.104 -18.854)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            mask-repeat: no-repeat;
            mask-position: center;
        }
        &:checked {
            &::before {
                border-color: transparent;
                background: var(--active-bg-color);
            }
            &::after {
                content: "";
            }
        }
        &:disabled {
            pointer-events: none;
            filter: grayscale(100);
            opacity: 0.3;
        }
    }
    & input + span {
        color: rgba(0, 0, 0, 0.8);
        font-weight: 300;
    }
    &.cb-heart {
        & input {
            &::before {
                background: transparent
                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.002' height='15.226' viewBox='0 0 17.002 15.226'%3E%3Cpath id='Icon_ionic-md-heart-empty' data-name='Icon ionic-md-heart-empty' d='M13.189,19.248,13,19.426l-.391.355-.391-.355-.191-.177A57.792,57.792,0,0,1,6.447,13.7,6.671,6.671,0,0,1,4.61,9.509a3.782,3.782,0,0,1,1.078-2.7A3.7,3.7,0,0,1,8.352,5.731a4.17,4.17,0,0,1,3.142,1.478l1.114,1.323,1.114-1.323a4.155,4.155,0,0,1,3.142-1.478,3.718,3.718,0,0,1,2.669,1.082,3.79,3.79,0,0,1,1.078,2.7A6.706,6.706,0,0,1,18.773,13.7a57.908,57.908,0,0,1-5.584,5.548Z' transform='translate(-4.109 -5.231)' fill='none' stroke='%2396968c' stroke-width='1'/%3E%3C/svg%3E%0A")
                    no-repeat center;
                border: 0;
            }
            &:checked {
                &::before {
                    background: transparent
                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.002' height='14.05' viewBox='0 0 16.002 14.05'%3E%3Cpath id='Icon_ionic-md-heart-empty' data-name='Icon ionic-md-heart-empty' d='M13.189,19.248,13,19.426l-.391.355-.391-.355-.191-.177A57.792,57.792,0,0,1,6.447,13.7,6.671,6.671,0,0,1,4.61,9.509a3.782,3.782,0,0,1,1.078-2.7A3.7,3.7,0,0,1,8.352,5.731a4.17,4.17,0,0,1,3.142,1.478l1.114,1.323,1.114-1.323a4.155,4.155,0,0,1,3.142-1.478,3.718,3.718,0,0,1,2.669,1.082,3.79,3.79,0,0,1,1.078,2.7A6.706,6.706,0,0,1,18.773,13.7a57.908,57.908,0,0,1-5.584,5.548Z' transform='translate(-4.61 -5.731)' fill='%23a100ff'/%3E%3C/svg%3E%0A")
                        no-repeat center;
                    border: 0;
                }
                &::after {
                    content: none;
                }
            }
        }
    }
    &:has(input:disabled) {
        pointer-events: none;
    }
    &.cb-star {
        & input {
            --osquare-size: 3.25rem;
            &::before {
                background: transparent
                    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA1MCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTI0Ljk5OSAwLjQ2Njc5N0MyNS4zODcxIDAuNDY2ODQgMjUuNzc1MiAwLjU1OTIxIDI2LjE2NyAwLjc1NDg4M0wyNi4zMzUgMC44NDQ3MjdDMjYuNjk4NCAxLjA1MzA5IDI2Ljk4MjUgMS4zNTI2NCAyNy4xODY1IDEuNzU4NzlMMjcuMjY4NiAxLjkzOTQ1TDI3LjI2OTUgMS45NDE0MUwzMi43NDUxIDE1LjAwMjlMMzIuODUzNSAxNS4yNjI3TDMzLjEzMzggMTUuMjg3MUw0Ny4yNzkzIDE2LjUzMzJDNDcuODE4MSAxNi42MTE1IDQ4LjIyMTYgMTYuNzY5IDQ4LjUxNTYgMTYuOTg0NEw0OC42MzU3IDE3LjA4MTFDNDguOTYgMTcuMzY2MyA0OS4yMTAxIDE3LjczOCA0OS4zODA5IDE4LjIxQzQ5LjU0NTYgMTguNjY1MyA0OS41NzcxIDE5LjEyNzcgNDkuNDc0NiAxOS42MDY0QzQ5LjM3NzMgMjAuMDYwNCA0OS4xMzA5IDIwLjQ3NzQgNDguNzA1MSAyMC44NTk0TDM3Ljk3OTUgMzAuMTczOEwzNy43Njc2IDMwLjM1NzRMMzcuODMxMSAzMC42MzA5TDQxLjA0MyA0NC41QzQxLjE2ODggNDUuMDQ5IDQxLjEyMTYgNDUuNTE0OSA0MC45Mjk3IDQ1LjkyMDlDNDAuNzQzMyA0Ni4zMTUgNDAuNDkzOSA0Ni42NDY4IDQwLjE4MDcgNDYuOTIwOUw0MC4wNDMgNDcuMDM1MkMzOS42ODAxIDQ3LjMxNzIgMzkuMjU1NSA0Ny40ODE5IDM4Ljc1NTkgNDcuNTI1NEMzOC4zNDI4IDQ3LjU2MTQgMzcuOTQwOCA0Ny40NzcgMzcuNTQxIDQ3LjI1ODhMMzcuMzcwMSA0Ny4xNTcyTDM3LjM1OTQgNDcuMTUwNEwyNS4yNDAyIDM5LjgxMjVMMjQuOTk5IDM5LjY2NkwyNC43NTY4IDM5LjgxMjVMMTIuNjM4NyA0Ny4xNTA0TDEyLjYyODkgNDcuMTU3MkMxMi4yMjkzIDQ3LjQxMjggMTEuODI4IDQ3LjUzMjYgMTEuNDE3IDQ3LjUzMjJMMTEuMjQwMiA0Ny41MjU0QzEwLjc0MTYgNDcuNDgzNiAxMC4zMTc1IDQ3LjMxODUgOS45NTUwOCA0Ny4wMzUyQzkuNjIzMDkgNDYuNzc1NSA5LjM1NTYyIDQ2LjQ2MDEgOS4xNTEzNyA0Ni4wODVMOS4wNjczOCA0NS45MTk5QzguODc2MDggNDUuNTE2NiA4LjgyOTEyIDQ1LjA1MTMgOC45NTUwOCA0NC41TDEyLjE2NyAzMC42MzA5TDEyLjIzMDUgMzAuMzU3NEwxMi4wMTg2IDMwLjE3MzhMMS4yOTI5NyAyMC44NTk0QzAuOTIyMjMgMjAuNTIzNyAwLjY4NzM3NSAyMC4xNjIgMC41NjkzMzYgMTkuNzcyNUwwLjUyNjM2NyAxOS42MDM1QzAuNDM2NTI3IDE5LjE4NCAwLjQ0ODkzNyAxOC43NzgzIDAuNTYyNSAxOC4zNzk5TDAuNjE3MTg4IDE4LjIwOUMwLjc2NDczNCAxNy43OTg2IDAuOTc0MTU4IDE3LjQ2MjYgMS4yNDMxNiAxNy4xOTI0TDEuMzYyMyAxNy4wODExQzEuNjY0NjcgMTYuODE0OSAyLjEwMTk1IDE2LjYyMTEgMi43MTI4OSAxNi41MzMyTDE2Ljg2MzMgMTUuMjg3MUwxNy4xNDM2IDE1LjI2MjdMMTcuMjUyOSAxNS4wMDI5TDIyLjcyODUgMS45NDE0MVYxLjkzOTQ1QzIyLjkwOTcgMS41MDI1OSAyMy4xNzExIDEuMTc1MDkgMjMuNTExNyAwLjk0MDQzTDIzLjY2MzEgMC44NDQ3MjdDMjQuMTEyIDAuNTg3NDYyIDI0LjU1NTYgMC40NjY3OTcgMjQuOTk5IDAuNDY2Nzk3WiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC41IiBzdHJva2U9InVybCgjcGFpbnQwX2xpbmVhcl82MDUwXzE1NzY2OCkiIHN0cm9rZS13aWR0aD0iMC45MzMzMzMiLz4KPGRlZnM+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl82MDUwXzE1NzY2OCIgeDE9Ii0xLjE2ODcyZS0wNyIgeTE9IjEyIiB4Mj0iNjUuNjg4MSIgeTI9IjE4LjU2ODYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0E3MkRENCIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM2OERCQkEiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K")
                    no-repeat center;
                border: 0;
            }
            &:checked {
                &::before {
                    background: transparent
                        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA1MCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTI0Ljk5ODggNDAuMjEyTDEyLjg4MDMgNDcuNTQ5OUMxMi4zNDQ5IDQ3Ljg5MjMgMTEuNzg1MiA0OC4wMzkxIDExLjIwMTIgNDcuOTkwMkMxMC42MTcyIDQ3Ljk0MTMgMTAuMTA2MiA0Ny43NDU2IDkuNjY4MTQgNDcuNDAzMUM5LjIzMDEyIDQ3LjA2MDcgOC44ODk0NCA0Ni42MzMyIDguNjQ2MSA0Ni4xMjA1QzguNDAyNzYgNDUuNjA3OCA4LjM1NDA5IDQ1LjAzMjUgOC41MDAxIDQ0LjM5NDZMMTEuNzEyMiAzMC41MjU5TDAuOTgwNzk3IDIxLjIwNjdDMC40OTQxMSAyMC43NjY0IDAuMTkwNDE4IDIwLjI2NDUgMC4wNjk3MjAxIDE5LjcwMDlDLTAuMDUwOTc4IDE5LjEzNzQgLTAuMDE0OTYzNCAxOC41ODc1IDAuMTc3NzY0IDE4LjA1MTRDMC4zNzA0OTIgMTcuNTE1MiAwLjY2MjUwMyAxNy4wNzQ5IDEuMDUzOCAxNi43MzA1QzEuNDQ1MDkgMTYuMzg2MSAxLjk4MDQ1IDE2LjE2NiAyLjY1OTg2IDE2LjA3MDFMMTYuODIyNCAxNC44MjI3TDIyLjI5NzYgMS43NjExMUMyMi41NDEgMS4xNzQwNyAyMi45MTg3IDAuNzMzNzk0IDIzLjQzMDcgMC40NDAyNzZDMjMuOTQyNiAwLjE0Njc1OSAyNC40NjUzIDAgMjQuOTk4OCAwQzI1LjUzMjIgMCAyNi4wNTQ5IDAuMTQ2NzU5IDI2LjU2NjkgMC40NDAyNzZDMjcuMDc4OCAwLjczMzc5NCAyNy40NTY1IDEuMTc0MDcgMjcuNjk5OSAxLjc2MTExTDMzLjE3NTEgMTQuODIyN0w0Ny4zMzc2IDE2LjA3MDFDNDguMDE5IDE2LjE2NzkgNDguNTU0NCAxNi4zODgxIDQ4Ljk0MzcgMTYuNzMwNUM0OS4zMzMxIDE3LjA3MyA0OS42MjUxIDE3LjUxMzIgNDkuODE5NyAxOC4wNTE0QzUwLjAxNDQgMTguNTg5NSA1MC4wNTE0IDE5LjE0MDMgNDkuOTMwNyAxOS43MDM5QzQ5LjgxIDIwLjI2NzQgNDkuNTA1MyAyMC43Njg0IDQ5LjAxNjcgMjEuMjA2N0wzOC4yODUzIDMwLjUyNTlMNDEuNDk3NCA0NC4zOTQ2QzQxLjY0MzQgNDUuMDMwNSA0MS41OTQ4IDQ1LjYwNTggNDEuMzUxNCA0Ni4xMjA1QzQxLjEwODEgNDYuNjM1MSA0MC43Njc0IDQ3LjA2MjcgNDAuMzI5NCA0Ny40MDMxQzM5Ljg5MTMgNDcuNzQzNiAzOS4zODAzIDQ3LjkzOTMgMzguNzk2MyA0Ny45OTAyQzM4LjIxMjMgNDguMDQxMSAzNy42NTI2IDQ3Ljg5NDMgMzcuMTE3MiA0Ny41NDk5TDI0Ljk5ODggNDAuMjEyWiIgZmlsbD0idXJsKCNwYWludDBfbGluZWFyXzYwNTBfMTU3NjY4KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzYwNTBfMTU3NjY4IiB4MT0iNS41IiB5MT0iMTQiIHgyPSI0NS4xNjcxIiB5Mj0iMy4zMjMwNiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjQTcyREQ0Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzY4REJCQSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=")
                        no-repeat center;
                    border: 0;
                }
                &::after {
                    content: none;
                }
            }
        }
    }
}
