.o-rangeslider {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    width: 100%;
    height: 0.625rem;
    border-radius: 50rem;
    appearance: none;
    transition: all 0.1s ease;
    &::-webkit-slider-runnable-track {
        height: 0.375rem;
        border-radius: 50rem;
        cursor: pointer;
        background: linear-gradient(#a100ff, #a100ff) no-repeat #d0d6e8;
        background-size: var(--range-size) 100%;
    }
    &::-webkit-slider-thumb {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        border: 1px solid #a100ff;
        background-color: #fff;
        cursor: pointer;
        margin-top: -0.25rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
        -webkit-appearance: none;
        box-sizing: border-box;
    }
    &::-moz-range-track {
        height: 0.375rem;
        border-radius: 50rem;
        cursor: pointer;
        background: linear-gradient(#a100ff, #a100ff) no-repeat #d0d6e8;
        background-size: var(--range-size) 100%;
    }
    &::-moz-range-thumb {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        border: 1px solid #a100ff;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
        appearance: none;
        box-sizing: border-box;
    }
    &::-ms-track {
        height: 0.375rem;
        border-radius: 50rem;
        background: #d0d6e8;
        cursor: pointer;
    }
    &::-ms-fill-upper {
        background: #d0d6e8;
        border-radius: 50rem;
        overflow: hidden;
    }

    /* stylelint-disable */
    &:focus-visible {
        outline: 0.0625rem solid #000;
    }
    &:hover { 
        &::-webkit-slider-thumb {
            border-width: 0.125rem;
        }
        &::-moz-range-thumb {
            border-width: 0.125rem;
        }
    }
    &:disabled {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-track,
        &::-ms-fill-lower {
            border-color: #bebebe;
        }
        &::-webkit-slider-runnable-track,
        &::-moz-range-track {
            background: linear-gradient(#bebebe, #bebebe) no-repeat #e9ecef;
            background-size: var(--range-size) 100%;
        }
        &::-ms-fill-upper {
            background: #e9ecef;
        }
    }
    /* stylelint-enable */
}
