.o-radio {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
        --ocircle-size: 1.25rem;
        --icircle-size: calc(var(--ocircle-size) / 2);
        --active-color: #a100ff;
        height: var(--ocircle-size);
        width: var(--ocircle-size);
        flex: 0 0 var(--ocircle-size);
        position: relative;
        appearance: none;
        cursor: inherit;
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // aspect-ratio: 1/1;
            border-radius: 50%;
            border: 1px solid #ccc;
            background: #fff;
        }
        &::after {
            content: none;
            position: absolute;
            display: inline-block;
            height: var(--icircle-size);
            width: var(--icircle-size);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: var(--active-color);
        }
        &:checked {
            &::before {
                border-color: var(--active-color);
            }
            &::after {
                content: '';
            }
        }
        &:disabled {
            pointer-events: none;
            filter: grayscale(100);
            opacity: 0.8;
        }
    }
    input + span {
        color: inherit;
    }
    &:has(input:disabled) {
        pointer-events: none;
    }

    &.-black {
        input {
            --active-color: #fff;
        }
        input:checked::before {
            background: #000;
        }
    }
}


//content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.26' height='24.813' viewBox='0 0 16.26 24.813'%3E%3Cg transform='translate(0.128 0.125)'%3E%3Cg%3E%3Cpath d='M198.236,66.787a.434.434,0,0,1-.417-.552l2.993-10.548h-5.249a.434.434,0,0,1-.413-.566l4.035-12.6a.434.434,0,0,1,.413-.3h6.81a.434.434,0,0,1,.413.566L204.288,50.7h6.407a.434.434,0,0,1,.336.709L198.572,66.628a.434.434,0,0,1-.336.159Zm-2.079-11.968h5.228a.434.434,0,0,1,.417.552l-2.579,9.09,10.555-12.895h-6.085A.434.434,0,0,1,203.28,51l2.534-7.908h-5.9Z' transform='translate(-195.129 -42.224)' fill='%239231f5' stroke='%239231f5' stroke-width='0.25'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.26' height='24.813' viewBox='0 0 16.26 24.813'%3E%3Cg transform='translate(0.128 0.125)'%3E%3Cg transform='translate(0)'%3E%3Cpath d='M198.236,66.787a.434.434,0,0,1-.417-.552l2.993-10.548h-5.249a.434.434,0,0,1-.413-.566l4.035-12.6a.434.434,0,0,1,.413-.3h6.81a.434.434,0,0,1,.413.566L204.288,50.7h6.407a.434.434,0,0,1,.336.709L198.572,66.628a.434.434,0,0,1-.336.159Zm-2.079-11.968h5.228a.434.434,0,0,1,.417.552l-2.579,9.09,10.555-12.895h-6.085A.434.434,0,0,1,203.28,51l2.534-7.908h-5.9Z' transform='translate(-195.129 -42.224)' fill='%239231f5' stroke='%239231f5' stroke-width='0.25'/%3E%3C/g%3E%3Cg transform='translate(0)'%3E%3Cg transform='translate(0 0)'%3E%3Cpath d='M198.236,66.787a.434.434,0,0,1-.417-.552l2.993-10.548h-5.249a.434.434,0,0,1-.413-.566l4.035-12.6a.434.434,0,0,1,.413-.3h6.81a.434.434,0,0,1,.413.566L204.288,50.7h6.407a.434.434,0,0,1,.336.709L198.572,66.628a.434.434,0,0,1-.336.159Z' transform='translate(-195.129 -42.224)' fill='%239231f5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
