// IMPORTANT: Do not directly alter any styles here, create a new file,
//              add a modifier class to 'c-carxd__wrap', and add styles that are dependent on the modifier class
.c-carxd {
    &__toggle {
        border: none;
        padding: 0;
        height: 1rem;
        width: 0.5rem;
        background: transparent no-repeat right center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='17' viewBox='0 0 4 17'%3E%3Cg transform='translate(-106)'%3E%3Cg transform='translate(106 0)'%3E%3Cpath d='M2,17a1.927,1.927,0,1,1,0-3.852,2.053,2.053,0,0,1,1.415.564,1.877,1.877,0,0,1,0,2.723A2.053,2.053,0,0,1,2,17Zm0-6.575H2A1.927,1.927,0,1,1,2,6.574a2.057,2.057,0,0,1,1.415.564A1.9,1.9,0,0,1,4,8.5a1.879,1.879,0,0,1-.585,1.363A2.052,2.052,0,0,1,2,10.426ZM2,3.852A1.966,1.966,0,0,1,0,1.926,1.966,1.966,0,0,1,2,0,2.053,2.053,0,0,1,3.415.564,1.9,1.9,0,0,1,4,1.926a1.9,1.9,0,0,1-.585,1.362A2.053,2.053,0,0,1,2,3.852Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        display: inline-block;
        background-size: contain;
    }
    &__dropdown {
        .c-dropdown-menu {
            min-width: 6.875rem;
        }
        .c-dropdown-item {
            font-size: var(--pf-fs-12, 0.75rem);
            min-height: 1.875rem;
            padding: 0.5rem 1rem;
        }
    }
    &__right {
        margin-left: auto;
    }
    &__left {
        display: inline-flex;
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    &__title {
        font-size: var(--pf-fs-18, 1.125rem);
        font-weight: 500;
        line-height: 1;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        flex: 0 0;
        padding: 0;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border-top: 0.0625rem solid rgba(204, 204, 204, 1);

        &inner {
            width: 100%;
            display: flex;
        }
        &btn {
            background: none;
            border: none;
            padding: 1rem var(--padding-h);
            flex: 1;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            line-height: 1;
            text-align: center;

            &:hover,
            &:focus,
            &:focus-visible {
                color: #a100ff;
            }
            &:not(:first-child) {
                border-left: 0.0625rem solid #ccc;
            }
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem var(--padding-h);

        &inner {
            display: flex;
            gap: 0.75rem;

            + .c-carxd__bodyinner {
                margin-top: 1rem;
            }
        }

        &left {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        &right {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &f50 {
            flex: 1 1 50%;
        }

        &stitle {
            font-size: var(--pf-fs-12, 0.75rem);
            color: #737373;
        }

        &scont {
            font-size: var(--pf-fs-12, 0.75rem);
        }
    }
    &__header {
        display: grid;
        gap: 0.75rem;
        flex: 0 0;
        padding: 1.25rem var(--padding-h) 1rem;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
    &__wrap {
        --padding-h: 1.25rem;
        --border-radius: 0.25rem;
        width: 100%;
        flex: 0 0 100%;
        font-size: var(--pf-fs-12, 0.75rem);
        display: flex;
        flex-direction: column;
        min-height: 22.5rem;
        position: relative;
        background-color: #fff;
        box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);

        &.-grad {
            &:hover,
            &:focus-within {
                // background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.729) 0%, #fff 60%, #fff 100%), linear-gradient(270deg, rgba(255, 108, 0, 0.3) 0%, rgba(181, 0, 239, 0.3) 85%, rgba(111, 0, 239, 0.3) 100%);
                // background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.729) 0%, #fff 60%, #fff 100%), linear-gradient(225deg, rgba(238, 84, 54, 0.4) 0%, rgba(229, 71, 83, 0.4) 30%, rgba(181, 0, 239, 0.4) 85%, rgba(111, 0, 239, 0.4) 100%);
                /* prettier-ignore */
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 0.01%, #fff 100%), linear-gradient(235deg, #ff6c00 -23.59%, #b500ef 80.84%, #6f00ef 100%);
                // background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.729) 0%, #fff 60%, #fff 100%), linear-gradient(225deg, rgba(238, 84, 54, 0.4) 0%, rgba(229, 71, 83, 0.4) 30%, rgba(181, 0, 239, 0.4) 85%, rgba(111, 0, 239, 0.4) 100%);
            }
        }
        * {
            word-break: break-word;
        }
    }
    &__top-border {
        height: 0.25rem;
        /* prettier-ignore */
        background: linear-gradient(269deg, #ff6c00 0%, #b500ef 85%, #6f00ef 100%);
        width: 0;
        transition: all 0.5s cubic-bezier(0.94, 0.1, 0.42, 0.95);
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
        top: 0.0625rem;
    }
}
