.c-toggleswitch {
    position: relative;
    &__btn[role="tab"] {
        display: inline-block;
        padding: 0.25rem 0.625rem;
        font-size: var(--pf-fs-14, 0.875rem);
        line-height: 1;
        color: #505050;
        text-align: center;
        z-index: 1;
        flex: 1 1 auto;
        background: none;
        border: none;
        appearance: none;
        margin: 0 !important;
        border-radius: var(--border-radius);

        &:disabled {
            pointer-events: none;
        }
        &:focus-visible {
            outline: 0.0625rem dashed #000;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            color: #505050;
        }

        &[aria-selected="true"] {
            color: #a100ff;
            font-weight: 500;
            border-radius: 0.25rem;

            &:hover,
            &:focus {
                text-decoration: none;
                color: #a100ff;
            }
        }
    }
    &__overlay {
        position: absolute;
        pointer-events: none;
        height: calc(100% - (var(--padding-v) * 2));
        top: 50%;
        width: 6.25rem;
        left: 0.375rem;
        transform: translateY(-50%);
        background: #f5e5ff;
        border-radius: var(--border-radius);
        transition: all 0.5s ease;
    }
    &__wrap[role="tablist"] {
        --border-radius: 0.25rem;
        --padding-v: 0.25rem;
        display: flex;
        align-items: center;
        padding: var(--padding-v);
        margin: 0;
        border-radius: var(--border-radius);
        border: 1px solid #737373;
        position: relative;
        background: #fff;
    }
}
